<launch>
	<node pkg="template_match" type="template_match" name="template_match" output="screen">
	
	<!-- red-0.23 0.12-->
	<param name="min_x"  type="double" value="-0.25"/>
	<!-- green-0.18 0.07 -->
	<param name="min_y"  type="double" value="-0.13"/>
	<!-- blue -->
	<param name="min_z"  type="double" value="0.5"/>
	<param name="max_x"  type="double" value="0.12"/>
	<param name="max_y"  type="double" value="0.135"/>
	<param name="max_z"  type="double" value="0.75"/>

	
	<param name="min_sample_distance"  type="double" value="0.001"/>
	<param name="max_correspondence_distance"  type="double" value="0.005"/>
	<param name="nr_iterations"  type="double" value="1500"/>
	<param name="normal_radius_"  type="double" value="0.01"/>
	<param name="feature_radius_"  type="double" value="0.01"/>
	<param name="model_size"  type="double" value="0.005"/>
	<param name="planar_seg"  type="double" value="0.0102"/>
	<param name="theta"  type="double" value="0.49"/>
	<param name="dx"  type="double" value="0"/>
	<param name="dy"  type="double" value="0"/>
	<param name="dz"  type="double" value="-180"/>
	<param name="side_min"  type="double" value="-0.1"/>
	<param name="side_max"  type="double" value="0.15"/>
	<param name="voxel_grid_size"  type="double" value="0.003"/>
	<param name="max_num"  type="int" value="20000"/>
	<param name="min_num"  type="int" value="150"/>
	<param name="view_on"  type="bool" value="0"/>
	<param name="save_filter"  type="bool" value="1"/>
	<param name="vision_simulation"  type="bool" value="0"/>
	<param name="simulation"  type="bool" value="0"/>
	<param name="model_file_"  type="string" value="/home/gjx/orbslam/catkin_ws/src/ZJUBinPicking/pcd_files/real_threepipe1091.pcd"/>
	<param name="model_file_1"  type="string" value="/home/gjx/orbslam/catkin_ws/src/ZJUBinPicking/pcd_files/project837.pcd"/>
	<param name="model_file_2"  type="string" value="/home/gjx/orbslam/catkin_ws/src/ZJUBinPicking/pcd_files/cylinder.pcd"/>
	
	</node>
	<!-- <node pkg="template_match" type="output_clouds" name="output_clouds" output="screen">
	<param name="file_location"  type="string" value="/home/gjx/orbslam/catkin_ws/src/ZJUBinPicking/pcd_files/filter_1.pcd"/>
	</node> -->
	<!-- <node pkg="template_match" type="output_clouds" name="output_clouds" output="screen">
	<param name="file_location"  type="string" value="/media/gjx/GJX/DL_dataset/pointclouds/0064_cloud.pcd"/>
	</node> -->
	<!-- <node pkg="template_match" type="dbscan" name="dbscan" output="screen">
	<param name="file_location"  type="string" value="/media/gjx/GJX/DL_dataset/pointclouds/0065_cloud.pcd"/>
	</node> -->
</launch>