<launch>
	<node pkg="template_match" type="template_match" name="template_match" output="screen">
	<param name="min_x"  type="double" value="-0.12"/>
	<param name="min_y"  type="double" value="-0.25"/>
	<param name="min_z"  type="double" value="0.5"/>
	<param name="max_x"  type="double" value="0.12"/>
	<param name="max_y"  type="double" value="0.021"/>
	<param name="max_z"  type="double" value="0.52"/>
	<param name="model_size"  type="double" value="0.005"/>
	<param name="theta"  type="double" value="0.49"/>
	<param name="dx"  type="double" value="0"/>
	<param name="dy"  type="double" value="0"/>
	<param name="dz"  type="double" value="-180"/>
	<param name="max_num"  type="int" value="20000"/>
	<param name="min_num"  type="int" value="45"/>
	</node>
	<!-- <node pkg="template_match" type="output_clouds" name="output_clouds" output="screen">
	</node> -->
</launch>
