<launch>
	<node pkg="template_match" type="template_match" name="template_match" output="screen">
	<!-- red -->
	<param name="min_x"  type="double" value="-0.15"/>
	<!-- green -->
	<param name="min_y"  type="double" value="-0.118"/>
	<!-- blue -->
	<param name="min_z"  type="double" value="0.6"/>
	<param name="max_x"  type="double" value="0.18"/>
	<param name="max_y"  type="double" value="0.2"/>
	<param name="max_z"  type="double" value="0.675"/>
	<param name="model_size"  type="double" value="0.005"/>
	<param name="theta"  type="double" value="0.49"/>
	<param name="dx"  type="double" value="0"/>
	<param name="dy"  type="double" value="0"/>
	<param name="dz"  type="double" value="-180"/>
	<param name="voxel_grid_size"  type="double" value="0.003"/>
	<param name="max_num"  type="int" value="20000"/>
	<param name="min_num"  type="int" value="150"/>
	<param name="view_on"  type="bool" value="1"/>
	<param name="vision_simulation"  type="bool" value="0"/>
	<param name="simulation"  type="bool" value="0"/>
	<param name="model_file_"  type="string" value="/home/gjx/orbslam/catkin_ws/src/ZJUBinPicking/pcd_files/real_threepipe1091.pcd"/>
	<param name="model_file_1"  type="string" value="/home/gjx/orbslam/catkin_ws/src/ZJUBinPicking/pcd_files/project837.pcd"/>
	<param name="model_file_2"  type="string" value="/home/gjx/orbslam/catkin_ws/src/ZJUBinPicking/pcd_files/cylinder.pcd"/>
	</node>
	<node pkg="template_match" type="output_clouds" name="output_clouds" output="screen">
	<param name="file_location"  type="string" value="/home/gjx/orbslam/catkin_ws/test_real1.pcd"/>
	</node>
</launch>